body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightcoral;
}
header{
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    position: relative;
}
header nav li{
    display:inline-block;
    padding-right: 5px;
    color: whitesmoke;
}
.name{
    text-align: center;
}
.about{
    text-align: center;
    background-color: white;
    border:solid black 2px;
    margin: 5px;
}
.contact{
    text-align: left;
    margin-top: 10px;
}
.contact li{
    display: inline-block;
    width:100%;
}